
* {
  box-sizing: border-box;
}

body{
    padding: 2px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9ACF8C;
  color: #1E3565;
  padding: 50px 50px 80px 35px;
  text-align: center;
  position: sticky;
  top: 0px;
  border-radius: 0px 0px 10px 10px;
  font-weight: 500;
  height: 183.04px;
  font-size: 20px;
  background-image: url(../assets/Nao_Pattern.png);
  background-size: cover;
}
.header h1{
  font-size: 20px;
  margin: 0px !important;
}

.fontHead{
  font-size: 36px;
  font-weight: 800;
}

.fonStize{
  font-size: 16px;
  font-weight: 500;
}

.box{
    padding: 10px;
    border: 1px solid bisque;
}

div .nav--hidden {
  transform: translateY(-500%);
  position: absolute;
}


.d-flex{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center; 
}

.section-1{
  position: absolute;
  z-index: 1;
  top: 110px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 8px 12px 26px rgba(0, 0, 0, 0.17);
  margin: 0 31px;
  min-height: 166px;
}

.section-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #F3F3F3;
  margin: 0 31px;
  position: absolute;
  top: 285.58px;
  padding: 15px;
  min-height: 119px;
  
}
.section-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 31px;
  position: absolute;
  top: 420px;
  padding: 25px 0px;
  height: 40px;
  width: 87% !important;
}

.left{
  width: 50%;
}
.section-2 .right {
  width: 50%;
  font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1E3565;
}



.smalltext{
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
margin: 0px !important;
}
.smallHeading{
  font-family: 'TodaySansNow Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin-bottom: 0px !important;
}
.section-2 img{
width: 80%;
 background-color: #F3F3F3;
border-radius: 10px;
 
}

.menu{
  position: absolute;
  top: 480px;
  padding-right: 0px !important;
}
.menu ul {
  list-style-type: none;
  margin: 0 31px;
  padding: 0;
}

.menu li {
  padding: 19px 16px;
  margin-bottom: 13px;
  border-radius: 10px;
  background-color: #F3F3F3;
  width: 103%;
  height: 95px;
}

.menu li:hover {
  background-color: rgb(151, 156, 160);
}

.aside {
  padding: 15px;
  color: black;
  text-align: center;
  font-size: 12px;
  
}

.footer {
  background-color: #F3F3F3;
  color: #BABABA;;
  text-align: center;
  font-size: 12px;
  padding: 15px 60px;
  /* position: relative;
    top: 752.85px; */
    border-radius: 25px 25px 0px 0px;
    position: fixed;
    
    width: 100%;
    bottom: 0;
}

.footer a{
  color: #BABABA;
  font-family: 'TodaySansNow Pro';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-decoration: none;
padding-top: 8px;
text-align: center;
}

.footer a:hover{
  text-decoration: underline;
  color:  #BABABA;
}

.testreports .testName{
  color: #1E3565;
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}

.testreports .result{
  color: #9ACF8C;;
  font-size: 30px;
  font-style: normal;
font-weight: 600;
line-height: 36px;
}

.testreports .not{
  color: red !important;
}
 .normalRange{
  
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #000000;

opacity: 0.4;
}
.commentWidt{
  width: 45%;
  color: black;
  font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
}

.downloadSection{
  position: absolute;
  top : 480px;
  margin: 0 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 429px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%; }
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  div .nav--hidden {
    transform: none;
    position: relative;
  }

  .section-1{
    position: relative;
    top: 0px;
    z-index: 0;
    margin-bottom: 20px;
  }
  
  .section-1 .aside{
    height: 166px !important;

  }

  .section-2{
    position: relative;
    top: 0px;
  }

  .section-3{
    position: relative;
    top: 0px;
    margin-top: 12px;
    width: 91%;
  }

  .menu{
    position: relative;
    top: 0px;
    padding-right: 12px !important;
  }

  .footer{
    position: sticky;
    top: 0px;
    
    height: 100px;
  }
  .header{
    z-index: 1;
    padding: 10px 40px;
    height: 90px;
    margin-bottom: 8px;
  }

  .sectionDesc p{
    padding: 16px 0px 12px !important;
}

}
